.hide
{
	display:none;
}

.ztranslate-lang-switch-wrap
{
	margin: 10px 0;
}



.ztranslate-lang-switch
{
	border: 1px solid  #ccc;
	background-image: linear-gradient(to top,#e5e5e5,#f4f4f4);
	margin-top: 2px;
	padding: 8px;
	margin-right: 4px;
	cursor: default;
	display: inline-block;
}
.ztranslate-lang-switch.active
{
	border-color: #888;
	background-image: none;
	background-color: #bbb;
	color: #555;
}

.ztranslate-lang-switch>*
{
	vertical-align: middle;
	margin-right: 4px;
}

/* Admin bar language icons */

#wpadminbar #wp-admin-bar-language>div.ab-item
{
	padding-right: 30px;
	cursor: default;
}
#wpadminbar #wp-admin-bar-language>div.ab-item,
#wpadminbar #wp-admin-bar-language ul li
{
	background-repeat: no-repeat;
	background-position: right; 
	background-size: 22px;
}

/* zTranslate config page */

.language-list td
{
	vertical-align: middle;
}

/* zTranslate widget */


.top-widget
{
	width: auto;
}
.widget_ztranslate ul li
{
	display: inline;
	list-style-type: none;
	opacity: 0.5;
	-o-transition: 1s ease opacity;
	-moz-transition: 1s ease opacity;
	-webkit-transition: 1s ease opacity;
	transition: 1s ease opacity;
}
.widget_ztranslate ul
{
	margin: 0;
}

.widget_ztranslate ul li.active
{
	opacity: 0.8;
}
.widget_ztranslate ul li:hover
{
	opacity: 1;
}

.widget_ztranslate img
{
	box-shadow: none;
	vertical-align: middle;
}



#ztranslate_languages_menu img {
	vertical-align: middle;
}